# GITHUB_CLIENT_ID: Your GitHub OAuth App Client ID.
GITHUB_CLIENT_ID="MY_GITHUB_CLIENT_ID"

# GITHUB_CLIENT_SECRET: Your GitHub OAuth App Client Secret.
GITHUB_CLIENT_SECRET="MY_GITHUB_CLIENT_SECRET"

# GITHUB_CALLBACK_URL: The callback URL for GitHub OAuth.
# Usually: ${APP_URL}/auth/callback
GITHUB_CALLBACK_URL="MY_GITHUB_CALLBACK_URL"
